<div id="todosContainer">
    <div class="todos-header">
        <h1 class="bold">Todos</h1>
    </div>
    <div class="mb-20">
        <button mat-raised-button color="primary" (click)="openTodoDialog(null)">
            <mat-icon>add</mat-icon>
            Add Todo
        </button>
        <a class="fr" routerLink="/todos">
            <mat-icon color="primary">view_module</mat-icon>
            <span class="v-super">Tile View</span>
        </a>
    </div>
    <div class="todo-card-list">
        TBD
    </div>
</div>
