<h1 mat-dialog-title class="bold">{{todoDialogTitle}}</h1>
<div matt-dialog-content class="todoDialogContent">
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput [value]="todo.todoText">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Due Date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="accent">Save</button>
    <button mat-raised-button>Cancel</button>
</div>
