@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }

.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-24 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }
.mb-35 { margin-bottom: 35px; }
.mb-40 { margin-bottom: 40px; }

.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.ml-24 { margin-left: 25px; }
.ml-30 { margin-left: 30px; }
.ml-35 { margin-left: 35px; }
.ml-40 { margin-left: 40px; }

.min-w-300 { min-width: 300px; }
.min-h-50 { min-height: 50px; }

.fr { float: right;}
.fl { float: left;}

.bold { font-weight: bold; }

.v-top { vertical-align: top; }
.v-super { vertical-align: super; }

.flex { 
    display: flex; 
    justify-content: space-between;
}

.transparent { background-color: transparent; }

.mdc-text-field {
    background-color: transparent !important;
}

.red { color: #f44; }

.red-font {
    color: #f44 !important;
}
