<div id="todosContainer">
    <div class="todos-header">
        <h1 class="bold">Todos</h1>
    </div>
    <button mat-raised-button color="primary" (click)="openTodoDialog()">
        <mat-icon>add</mat-icon>
        Add Todo
    </button>
    <div class="todo-card-grids">
        @for (todo of todos; track todo.todoUId) {
            <mat-card class="todo-card">
                <mat-card-content>
                    <textarea [value]="todo.todoText"></textarea>
                    <mat-form-field class="v-top">
                        <mat-label>Due Date</mat-label>
                        <input matInput [matDatepicker]="picker" [value]="todo.dueDate" placeholder="Due date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <span class="fr">
                        <div *ngIf="todo.isComplete"> 
                            <div title="Completed"><mat-icon color="primary">check_circle</mat-icon></div> 
                        </div>
                    </span>
                    <div class="sub-todo-grids">
                        @for (subTodo of todo.subTodos; track subTodo.todoUId) {
                            <mat-card class="sub-todo-card mb-5">
                                <mat-card-content>
                                    <textarea [value]="subTodo.todoText"></textarea>
                                    <mat-form-field class="v-top">
                                        <mat-label>Due Date</mat-label>
                                        <input matInput [matDatepicker]="picker" [value]="todo.dueDate" placeholder="Due date">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                    <span class="fr">
                                        <div *ngIf="subTodo.isComplete"> 
                                            <div title="Completed"><mat-icon color="primary">check_circle</mat-icon></div> 
                                        </div>
                                    </span>
                                </mat-card-content>
                                <mat-card-actions class="flex">
                                    <div *ngIf="!subTodo.isComplete"> 
                                        <button mat-button><mat-icon>done</mat-icon>Complete</button>
                                    </div>
                                    <button mat-button><mat-icon>delete</mat-icon>Delete</button>
                                </mat-card-actions>
                            </mat-card>
                        }
                    </div>
                </mat-card-content>
                <mat-card-actions class="flex">
                    <button mat-button><mat-icon>add</mat-icon>Add Sub Todo</button>
                    <div *ngIf="!todo.isComplete">
                        <button mat-button><mat-icon>done</mat-icon>Complete</button>
                    </div>
                    <button mat-button><mat-icon>delete</mat-icon>Delete</button>
                </mat-card-actions>
            </mat-card>
        }
    </div>
</div>
