#todosContainer {
  textarea {
    width: 50%;
    max-width: 60%;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    font-family: Poppins, "Helvetica Neue", sans-serif;
    outline: none;
    margin-right: 15px;
    resize: none;
  }

  .todos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .todo-card-grids {
    .todo-card {
      border: 1px solid #ccc;
      background-color: #fcfcff;
      margin: 20px 20px 20px 0;
      width: 20%;
      float: left;
    }

    .todo-card, .sub-todo-card {
        border: 1px solid #ccc;
    }

    gap: 1.5rem;

    .mat-mdc-form-field {
      width: 155px;
    }
  }
}

